<form action="#" method="POST">
  <div class="row mb-2">
    <div class="col-md-4">
      <label>Amount</label>
      <input type="number" class="form-control">
    </div>
    <div class="col-md-8">
      <label>Ingredient name</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-success mr-2">Save</button>
      <button type="reset" class="btn btn-light">Reset</button>
      <button type="button" class="btn btn-danger float-right">Delete</button>
    </div>
  </div>
</form>